@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    min-height:100vh;

    background-image:url(./img/upscalemedia-transformed.jpeg);
    background-size:cover;
    background-position:center;

    overflow-x:hidden;
}

nav{
    width:90%;
    margin:20px auto;

    padding:20px 40px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    background:rgba(255,255,255,.35);

    backdrop-filter:blur(15px);

    border-radius:25px;
}

.logo{
    font-size:28px;
    font-weight:700;
}

nav ul{
    display:flex;
    gap:40px;
    list-style:none;
}

nav a{
    text-decoration:none;
    color:black;
    font-weight:600;
    transition:.3s;
}

nav a:hover{
    color:#ff5ca8;
}

main{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:80px;

    margin-top:40px;
    padding:30px;
}

.perfil{
    text-align:center;
}

.perfil img{

    width:300px;
    height:300px;

    border-radius:50%;

    object-fit:cover;

    border:8px solid white;

    box-shadow:
    0 0 20px white,
    0 0 50px pink;

    transition:.5s;
}

.perfil img:hover{
    transform:scale(1.05);
}

.perfil h1{
    margin-top:20px;
    font-size:60px;
}

.perfil h2{
    color:#ff5ca8;
    letter-spacing:5px;
}

.card{

    width:500px;

    padding:35px;

    background:rgba(255,255,255,.35);

    backdrop-filter:blur(20px);

    border-radius:30px;

    box-shadow:0 8px 25px rgba(0,0,0,.1);
}

.info{
    margin-bottom:25px;
}

.info h3{
    margin-bottom:10px;
    color:#ff5ca8;
}

.info p{
    line-height:1.7;
}


footer{
    display:flex;
    justify-content:center;
    gap:30px;

    margin-top:40px;
}

footer a{

    width:65px;
    height:65px;

    display:flex;
    justify-content:center;
    align-items:center;

    background:white;

    border-radius:50%;

    transition:.3s;
}

footer a:hover{
    transform:translateY(-8px);
}

footer img{
    width:35px;
}
#particles{
    position:fixed;
    width:100%;
    height:100%;
    pointer-events:none;
}

.particle{
    position:absolute;

    width:12px;
    height:12px;

    background:pink;

    border-radius:50%;

    bottom:-50px;

    animation:float infinite linear;
}

@keyframes float{

    from{
        transform:translateY(0);
        opacity:1;
    }

    to{
        transform:translateY(-120vh);
        opacity:0;
    }
}

.mascote{
    position: fixed;
    bottom: 20px;
    left: 20px;

    width: 300px;
    height: auto;

    z-index: 999;
}